[submodule "Link"]
	path = Link
	url = https://github.com/Pong-The-Moba/Pong-Link.git
[submodule "jbox2d"]
	path = jbox2d
	url = https://github.com/sihrc/jbox2d.git
[submodule "jars"]
	path = jars
	url = https://github.com/Pong-The-Moba/pong-the-moba-jars.git
